<%= link_to episode.title, episode_url(episode), target: :_blank %> <%= link_to episode_url(episode), episode_url(episode), target: :_blank %><br />
<br />
<% episode.guest_interview_profiles.each do |guest_interview_profile| %>
  <%= t('views.descriptions.code.guest') %>: <%= guest_interview_profile.abroad_living_summary %> <%= guest_interview_profile.job_title %> <%= guest_interview_profile.guest_name %>
  <%= simple_format auto_link_url(guest_interview_profile.introduction) %>
<% end %>
<%= t('views.descriptions.code.summary') %>: <%= simple_format episode.long_summary %>

<% if episode.references.present? %>
  <%= t('views.descriptions.code.reference') %>:<br />
  <% episode.references.each do |reference| %>
    ・<%= reference.caption %> <%= link_to reference.link, reference.link, target: :_blank %><br />
  <% end %>
<% end %>

<br />
<% episode.chapters.present? && episode.chapters.each do |chapter| %>
  <%= chapter_time(chapter) %> <%= chapter.title %><br />
<% end %>
<br />

<%= t('views.descriptions.code.hash_tag') %><br />
<br />
<%= t('views.descriptions.code.website_name') %> <%= link_to root_url, root_url, target: :_blank %><br />
<%= t('views.descriptions.code.feedback_message') %>⁠ <%= link_to new_feedback_url, new_feedback_url, target: :_blank %><br />
<%= simple_format_with_link_new auto_link_url t('views.descriptions.code.host') %></p>
