<%= link_to episode.title, episode_url(episode), target: :_blank %> <%= link_to episode_url(episode), episode_url(episode), target: :_blank %>
<p>
<% episode.guest_interview_profiles.each do |guest_interview_profile| %>
<%= t('views.descriptions.code.guest') %>: <%= guest_interview_profile.abroad_living_summary %> <%= guest_interview_profile.job_title %> <%= guest_interview_profile.guest_name %>
<%= auto_link_url(guest_interview_profile.introduction) %>
<% end %>
</p>
<p>
<%= t('views.descriptions.code.summary') %>: <%= episode.long_summary %>
<% if episode.references.present? %>
<%= t('views.descriptions.code.reference') %>:
<ul>
  <% episode.references.each do |reference| %>
<li><%= link_to reference.caption, reference.link, target: :_blank %></li>
  <% end %>
</ul>
<% end %>
<% episode.chapters.present? && episode.chapters.each do |chapter| %>
<%= chapter_time(chapter) %>  <%= chapter.title %>
<% end %>
</p>
<br />
<p>
<%= t('views.descriptions.code.disclaimer.title') %>: <%= t('views.descriptions.code.disclaimer.text') %> <%= link_to disclaimer_url, disclaimer_url, target: :_blank %>
</p>

#<%= episode.number -%>
