<%-
  title "Description"
  content_for(:stylesheets) do
    stylesheet_link_tag 'home_index', media: 'all'
  end
%>

<main>
  <h2>タイトル</h2>
  <button class="" onClick="navigator.clipboard.writeText(document.getElementById('title-description').value);">
    Copy
  </button>
  <textarea id="title-description" rows="1" cols="auto" readonly>
    <%= @episode.title %>
  </textarea>

  <h2><%= t('views.descriptions.main_description') %></h2>
  <code id="sns-description" rows="70" cols="auto" readonly>
    <%= render partial: 'description', locals: { episode: @episode } %>
  </code>

  <h2><%= t('views.descriptions.html_for_spotify') %></h2>
  <button class="" onClick="navigator.clipboard.writeText(document.getElementById('spotify-description').value);">
    Copy
  </button>
  <textarea id="spotify-description" rows="50" cols="auto" readonly>
    <% disable_annotate_rendered_view_with_filenames do %>
      <%= raw render partial: 'spotify_for_podcasters_description', locals: { episode: @episode } %>
    <% end %>
  </textarea>
</main>
