<%-
  title "エピソード #{@episode.title}"
  content_for(:stylesheets) do
    stylesheet_link_tag 'episodes_show', media: 'all'
  end
%>


<% content_for(:header_contents) do %>
  <h2><%= @episode.title %></h2>
  <p>配信日: <%= format_date_to_ymd @episode.published_at %></p>
  <iframe src="<%= embed_url(@episode) %>" height="auto" width="100%" frameborder="0" scrolling="no">
  </iframe>
  <p class="related_link"><%= link_to 'Apple Podcasts / Spotify などで聴く', @episode.url, target: :_blank %></p>
<% end %>

<main>
  <%= render partial: 'summary', locals: { episode: @episode } %>

  <%= render partial: 'guest_interview_profile', collection: @episode.guest_interview_profiles %>

  <%= render partial: "chapters", locals: { chapters: @episode.chapters } if @episode.chapters.present? %>

  <%= render partial: "transcriptions", locals: {transcriptions: @episode.transcriptions } if @episode.transcriptions.present? %>

  <br>

  <section>
    <%= link_to 'Topに戻る', '#' %>
  </section>

  <br>

  <%= render partial: "layouts/feedback" %>


  <section>
    <a href="<%= episodes_path %>" class="link">エピソード一覧に戻る</a>
  </section>

  <br>


</main>
