<%-
  title @episode.title
  description @episode.subtitle
  set_meta_tags image_src: image_url_with_host(@episode.image_path),
    og: {
      type: "article",
      url: episode_url(@episode)
    }
  content_for(:stylesheets) do
    stylesheet_link_tag 'episodes_show', media: 'all'
  end
%>


<% content_for(:header_contents) do %>
  <h1><%= @episode.title %></h1>
  <p>配信日: <%= format_date_to_ymd @episode.published_at %></p>
  <iframe src="<%= embed_url(@episode) %>" height="auto" width="100%" frameborder="0" scrolling="no">
  </iframe>
  <p class="related_link"><%= link_to 'Apple Podcasts / Spotify などで聴く', @episode.url, target: :_blank %></p>
<% end %>

<main>
  <%= render partial: 'summary', locals: { episode: @episode } %>

  <%= render partial: 'guest_interview_profile', collection: @episode.guest_interview_profiles %>

  <%= render partial: 'photo', locals: {photo: @episode.photo } if @episode.photo.present? %>

  <%= render partial: "chapters", locals: { chapters: @episode.chapters } if @episode.chapters.present? %>

  <%= render partial: "transcriptions", locals: {transcriptions: @episode.transcriptions } if @episode.transcriptions.present? %>

  <div id="link_previous_next">

    <div id="link_previous">
      <% if @episode.prev_episode %>
        <%= link_to "<  " + @episode.prev_episode.title.truncate(20), episode_path(@episode.prev_episode), class: 'link' %>
      <% end %>
    </div>
    <div id="link_next">
      <% if @episode.next_episode %>
        <%= link_to @episode.next_episode.title.truncate(20) + "  >", episode_path(@episode.next_episode), class: 'link' %>
      <% end %>
    </div>
  </div>

  <%= render partial: "layouts/feedback" %>

  <div id="disclaimer">
    <p>
      <%= raw t('site.disclaimer.digest', link: link_to(t('site.disclaimer.title'), disclaimer_path, target: :_blank)) %>
    </p>
  </div>

  <br>

</main>
