<%-
  title "エピソード #{@episode.title}"
  content_for(:stylesheets) do
    stylesheet_link_tag 'episodes_show', media: 'all'
  end
%>


<% content_for(:header_contents) do %>
  <h2><%= @episode.title %></h2>
  <p>配信日: <%= format_date_to_ymd @episode.published_at %></p>
  <iframe src="<%= embed_url(@episode) %>" height="auto" width="100%" frameborder="0" scrolling="no"></iframe>
<% end %>

<main>
  <%= render partial: 'summary', locals: { episode: @episode } %>

  <%= render partial: 'guest_interview_profile', collection: @episode.guest_interview_profiles %>

  <% questions_and_answers = @episode.guest_interview_profiles.first&.questions_and_answers # temporary for select just one profile%>
  <%= render partial: "questions_and_answers", locals: { questions_and_answers: questions_and_answers } if questions_and_answers.present? %>

  <%= render partial: "chapters", locals: { chapters: @episode.chapters } if @episode.chapters.present? %>

  <%= render partial: "transcriptions" if false %>

  <%= render partial: "layouts/feedback" %>
</main>
