<%-
  title ''
  content_for(:stylesheets) do
    stylesheet_link_tag 'home_index', media: 'all'
  end
%>

<% content_for(:header_contents) do %>
  <h1>海外移住channel</h1>
  <p>海外移住Channel は海外移住の経験者をゲストに招き、彼らのインタビューを中心に展開するポッドキャストです</p>
  <p>主に海外での生活・仕事・子育てに関するトピックを取り上げています</p>
  <br>
  <iframe src="https://podcasters.spotify.com/pod/show/kaigaiijuch/embed" height="auto" width="100%" frameborder="0" scrolling="no">
  </iframe>
  <p>
    <a href="#section-1"><b>もっと聴く</b></a>
  </p>
<% end %>

<main>
  <section id="Available_on">
    <header>
      <h2>Available on</h2>
    </header>
    <div class="align_center PC_width_60">
      <a class="btn_link_Apple" href="https://podcasts.apple.com/us/podcast/%E6%B5%B7%E5%A4%96%E7%A7%BB%E4%BD%8Fchannel/id1734193403" target="_blank">
        <%= image_tag("logos/Icon_Apple_Podcasts.svg", class: "icon_Apple") %>
      </a>
      <a class="btn_link_podcast" href="https://open.spotify.com/show/1Jk3agw17KlViB3DgbM4Rk" target="_blank">
        <%= image_tag("logos/Icon_Spotify_White.png", class: "icon_Spotify") %>
      </a>
      <a class="btn_link_google" href="https://podcasts.google.com/feed/aHR0cHM6Ly9hbmNob3IuZm0vcy9lYjQxY2E1OC9wb2RjYXN0L3Jzcw" target="_blank"">
        <%= image_tag("logos/Icon_google-podcast.png", class: "icon_google-podcast") %>
      </a>
      <a class="btn_link_youtube" href="https://www.youtube.com/@kaigaiiju.channel" target="_blank">
        <%= image_tag("logos/Icon_youtube.svg", class: "icon_youtube") %>
      </a>
      <a class="btn_link_podcast" href="https://music.amazon.co.jp/podcasts/06a5cc63-6f9e-4cab-941c-1af5a5fb27da/%E6%B5%B7%E5%A4%96%E7%A7%BB%E4%BD%8Fchannel" target="_blank">
        <%= image_tag("logos/Icon_amazon.png", class: "icon_amazon") %>
      </a>
      <a class="btn_link_listen" href="https://listen.style/p/kaigaiijuch" target="_blank">
        <%= image_tag("logos/LISTEN_logo.svg", class: "icon_listen") %>
      </a>
    </div>
  </section>

  <section id="section-1">
    <header>
      <h2>配信リスト</h2>
    </header>
    <% @episodes.each do |episode| %>
      <p>
        <span><%= episode.pub_date.strftime('%Y.%-m.%-d') %> </span>
        <%= link_to(episode.title, episode.url.to_s, target: :_blank) %>
      </p>
    <% end %>
  </section>
  <hr>
  <section >
    <header>
      <h2>ホスト</h2>
      <%= image_tag("logos/ctokoro_mini.png", class: "logo_chikahiro") %>
      <p>メインホスト: <a href="https://chikahirotokoro.com" target="_blank">  所 親宏</a></p>
      <p>ドイツ・ベルリン在住 ソフトウェアエンジニア</p>
      <p class="non_bold"><a href="https://note.com/frepara/n/n914c9d7ae6d1" target="_blank" class="non_bold">インタビュー記事</a></p>
    </header>
  </section>

  <section id="feedback">
    <p>
      <%= link_to(new_feedback_path, class: "link", target: :_blank) do %>
        <b>フィードバックはこちら</b>
      <%- end %>
    </p>
  </section>

  <!-- <section > -->
    <!-- <header>
      <h2>Follow us</h2>
    </header> -->
        <!-- <aside>
            <h3><a href="https://www.facebook.com/profile.php?id=61556571762598" target="_blank">Facebook</a></h3>
            <p>Card content*</p>
        </aside>
        <aside>
            <h3><a href="https://twitter.com/kaigaiijuch" target="_blank">X(Twitter)</a></h3>
            <p>Card content</p>
        </aside>
        <aside>
            <h3><a href="https://www.instagram.com/kaigaiiju.ch/" target="_blank">Instagram</a></h3>
            <p>Card content</p>
        </aside>
        <aside>
            <h3><a href="https://www.linkedin.com/company/kaigaiijuch" target="_blank">LinkedIn</a></h3>
            <p>Card content</p>
        </aside> -->

          <!-- <div class="align_center PC_width_54">

            <a class="btn_link_sns" href="https://kaigaiiju.ch" target="_blank">
              <img src="images/Facebook_Logo_Secondary.png" alt="facebook Logo">
            </a>
            <a class="btn_link_sns logo_x" href="https://twitter.com/kaigaiijuch" target="_blank">
              <img src="images/x_logo-white.png" alt="X Logo">
            </a>
            <a class="btn_link_sns" href="https://www.instagram.com/kaigaiiju.ch/" target="_blank">
              <img src="images/Instagram_Glyph_White.png" alt="Instagram Logo">
            </a>
            <a class="btn_link_sns" href="https://www.linkedin.com/company/kaigaiijuch" target="_blank">
              <img src="images/LinkedIn-White.png" alt="Linkedin Logo">
            </a>

          </div>
          -->
    <!-- </section> -->

</main>
