<%-
  description '海外移住Channel は海外移住の経験者をゲストに招き、彼らのインタビューを中心に展開するポッドキャストです。主に海外での生活・仕事・子育てに関するトピックを取り上げています。リアルな生の声を届けたいと思っているので、いいことだけでなく大変なこともざっくばらんに楽しく話していきたいと思っており、リスナーからのフィードバックも大事にしたいと思っています。'
  content_for(:stylesheets) do
    stylesheet_link_tag 'home_index', media: 'all'
  end
  set_meta_tags image_src: image_url("logos/logo_kaigaiiju-channel.webp", host: Rails.application.config.x.website_uri.to_s),
    og: {
      url: root_url,
      type: "website"
    }
%>

<% content_for(:header_contents) do %>
  <h1><%= t('site.name') %></h1>
  <%= simple_format t('site.description').gsub("\n", "\n\n") %>
  <br>
  <iframe src="https://podcasters.spotify.com/pod/show/kaigaiijuch/embed" height="auto" width="100%" frameborder="0" scrolling="no">
  </iframe>
  <p>
    <a href="#section-1"><b>もっと聴く</b></a>
  </p>
<% end %>

<main>
  <section id="Available_on">
    <header>
      <h2>Available on</h2>
    </header>
    <div class="align_center PC_width_60">
      <a class="btn_link_Apple" href="https://podcasts.apple.com/us/podcast/%E6%B5%B7%E5%A4%96%E7%A7%BB%E4%BD%8Fchannel/id1734193403" target="_blank">
        <%= image_tag("logos/Icon_Apple_Podcasts.svg", class: "icon_Apple", alt: "Apple Podcast") %>
      </a>
      <a class="btn_link_podcast" href="https://open.spotify.com/show/1Jk3agw17KlViB3DgbM4Rk" target="_blank">
        <%= image_tag("logos/Icon_Spotify_White.webp", class: "icon_Spotify", alt: "Follow Spotify") %>
      </a>
      <a class="btn_link_google" href="https://podcasts.google.com/feed/aHR0cHM6Ly9hbmNob3IuZm0vcy9lYjQxY2E1OC9wb2RjYXN0L3Jzcw" target="_blank"">
        <%= image_tag("logos/Icon_google-podcast.webp", class: "icon_google-podcast", alt: "Google Podcast") %>
      </a>
      <a class="btn_link_youtube" href="https://www.youtube.com/@kaigaiiju.channel" target="_blank">
        <%= image_tag("logos/Icon_youtube.svg", class: "icon_youtube", alt: "YouTube") %>
      </a>
      <a class="btn_link_podcast" href="https://music.amazon.co.jp/podcasts/06a5cc63-6f9e-4cab-941c-1af5a5fb27da/%E6%B5%B7%E5%A4%96%E7%A7%BB%E4%BD%8Fchannel" target="_blank">
        <%= image_tag("logos/Icon_amazon.webp", class: "icon_amazon", alt: "Amazon Music") %>
      </a>
      <a class="btn_link_listen" href="https://listen.style/p/kaigaiijuch" target="_blank">
        <%= image_tag("logos/LISTEN_logo.svg", class: "icon_listen", alt: "Listen") %>
      </a>
    </div>
  </section>

  <section id="story_list">
    <header id="section-1">
      <h2>配信リスト</h2>
    </header>

    <ul class="card_items">
      <%= render partial: "episode_card", collection: @episodes %>
    </ul>
    <p class="btn_listen_more">
      <%= link_to episodes_path do %>
        <b>もっと聴く</b>
      <% end %>
    </p>
  </section>

  <hr>
  <section >
    <header>
      <h2>ホスト</h2>
      <%= image_tag("logos/ctokoro_mini.webp", class: "logo_chikahiro") %>
      <p>メインホスト: <a href="https://chikahirotokoro.com" target="_blank">  所 親宏</a></p>
      <p>ドイツ・ベルリン在住 ソフトウェアエンジニア</p>
      <p class="non_bold"><a href="https://note.com/frepara/n/n914c9d7ae6d1" target="_blank" class="non_bold">インタビュー記事</a></p>
    </header>
  </section>

  <%= render "layouts/feedback" %>
</main>
