<%-
  title "免責事項"
  content_for(:stylesheets) do
    stylesheet_link_tag 'home_index', media: 'all' # temporary workaround
  end
%>

<% content_for(:header_contents) do %>
  <h2>免責事項</h2>
<% end %>

<section>
  <header>
    <h3>1. <%= t('site.disclaimer.section1.title') %></h3>
    <%= simple_format t('site.disclaimer.section1.content') %>
  </header>
</section>

<section>
  <header>
    <h3>2. <%= t('site.disclaimer.section2.title') %></h3>
    <%= simple_format t('site.disclaimer.section2.content') %>
  </header>
</section>

<section>
  <header>
    <h3>3. <%= t('site.disclaimer.section3.title') %></h3>
    <%= simple_format t('site.disclaimer.section3.content') %>
  </header>
</section>

<section>
  <header>
    <h3>4. <%= t('site.disclaimer.section4.title') %></h3>
    <%= simple_format t('site.disclaimer.section4.content') %>
  </header>
</section>

<section>
  <header>
    <h3>5. <%= t('site.disclaimer.section5.title') %></h3>
    <%= simple_format t('site.disclaimer.section5.content') %>
  </header>
</section>

<section>
  <header>
    <h3>6. <%= t('site.disclaimer.section6.title') %></h3>
    <%= simple_format t('site.disclaimer.section6.content') %>
  </header>
</section>
